/* Reset básico */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    background-color: #f8f9fa; /* Cor de fundo do rodapé */
    text-align: center;
    padding: 1rem;
}
